<div class="list-group-item">
    <div class="row align-items-center">
        <div class="col-4">
                <%= sensor[:name]%>
        </div>
        <div class="col-4">
                <%= sensor[:value]%>
        </div>
        <div class="col-4">
            °C
        </div>	
    </div>
</div>
