<% sensors.each do |sensor| %>
    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col-4">
                <%= sensor.name%>
            </div>
            <div class="col-4">
                    <%= sprintf("%.1f", sensor.value) %>
            </div>
            <div class="col-4">
                    <%= sensor.unit%>
            </div>	
        </div>
    </div>
<% end %>

