
<div class="list-group-item">
    <% @sensors.each do |sensor| %>
        <div class="row align-items-center">
            <div class="col-4">
                <%= sensor.name%>
            </div>
            <div class="col-4">
                    <%= sensor.value%>
            </div>
            <div class="col-4">
            <%=  sensor.name.include? "T" ? '°C' : '%' %>
            </div>	
        </div>
    <% end %>
</div>
