<%= render "/layouts/page_header", page_title_pre: 'Overview', page_title: 'Histogram' %>

<%= render "/layouts/page_body" do %>
  <div class="row row-cards">
    <% Measurement.distinct.pluck(:name).each do |measurement_name| %>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <h3 class="card-title"><%= measurement_name %></h3>
            </div>
            <div class="">
                <% sample = Measurement.where(name: measurement_name).first %>
                <%= line_chart(
                  Measurement.where(name: measurement_name).group_by_second(:recorded_at).average(:value),
                  colors: ['#097969', '#000'],
                  download: true,
                  label: measurement_name,
                  xtitle: 'Time',
                  ytitle: sample.measurement_type,
                  suffix: sample.unit
                ) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% end %>