<%= render "/layouts/page_header", page_title_pre: 'Overview', page_title: 'Devices' %>

<%= render "/layouts/page_body" do %>
  <div class="row row-cards">
    <% Reading.distinct.pluck(:name).each do |reading_name| %>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <h3 class="card-title"><%= reading_name %></h3>
            </div>
            <div class="">
                <% sample = Reading.where(name: reading_name).first %>
                <%= line_chart(
                  Reading.where(name: reading_name).group_by_second(:recorded_at).average(:value),
                  colors: ['#097969', '#000'],
                  download: true,
                  label: reading_name,
                  xtitle: 'Time',
                  ytitle: sample.measurement_type,
                  suffix: sample.unit
                ) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% end %>