<div class="page-header d-print-none">
	<div class="container-xl">
		<div class="row g-2 align-items-center">
			<div class="col">
				<div class="page-pretitle">
					<%= page_title_pre %>
				</div>
				<h2 class="page-title">
					<%= page_title %>
				</h2>
			</div>
		</div>
	</div>
</div>