<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <title>Document</title>
</head>

<body class="d-flex flex-column theme-light">
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="<%= root_path %>" class="navbar-brand navbar-brand-autodark"><%= image_tag 'zz-banner.png', height: 60, alt: 'Zeleni Zaklon' %></a>
            </div>
            <%= yield %>
        </div>  
    </div>
</body>
</html>